<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
    
    <title>Profile</title>

</head>  

<body>

    <div class="row">

        <div class="logo container col-2">
        <img src="../img/testing.webp" alt="logo">
            <div class="container sections prof-section">

                <ul class="links">
                    <li>Home</li>
                    <li>Employee</li>
                    <li>News & Events</li>
                    <li>About</li>
                    <li>Settings</li>
                </ul>

            </div>
        
        </div>  

           


        <div class="container directory col">
            <h2 class="text-center">Tip Out</h2>

            <p> Waiter Total Sales From Aloha</p>
            <input type="number" id="TS_Waiter">

            <p>Bar Tip Out Rate </p>
            <input type="number" id="TO_Bar_Rate">

            <p>Busser Tip Out Rate </p>
            <input type="number" id="TO_Busser_Rate"> 

            <p>Bar Tipout </p>
            <p id="TO_Bar"></p>

            <p> Busser Tipout </p>
            <p id="TO_Busser"></p> 



            <p>Server total Tips</p>
            <p id="server_total"></p>

            <h4>Declared Tips</h4>
            <p id="declared_tips"></p>

            <p>CC_Tips</p> 
            <input type="number" id="CC_Tips"> 
            <p>CC_Refund</p>
            <input type="number" id="CC_Refund" value="0.025"> 
            <p>Cash Auto Grant</p>
            <input type="number" id="Cash_Auto_Grat">
            
            






            




            <input type="button" value="Calculate" id="calculate_button">   
            
                
        </div> 
    </div>

    </div>


    <script>

        //CC Refund
        var CC_Refund = 0.025;
        //Waiter Total Sales from Aloha 
        var TS_Waiter = 0; 
        //Total Cash Owed 
        var TCO = 0; 
        //Cash Auto Gratuity from Aloha
        var Cash_Auto_Grat = 0; 
        //Bar Tip Out 
        var TO_Bar = 0; 
        //Bar Tip out Rate 
        var TO_Bar_Rate = 0; 
        //Busser Tip Out 
        var TO_Busser = 0; 
        //Busser Tip Out Rate 
        var TO_Busser_Rate = 0; 
        //CC Tips from Aloha 
        var CC_Tips= 0;  
        //Declared tips 
        var Declared_Tips = 0; 
        //Waiter Total Cash Owed 
        var TCO_Waiter = 0; 
        
    



 
        //waiter tip out for bar 
        
        

        var calculate_button = document.getElementById("calculate_button");

        

        calculate_button.addEventListener('click',function(){

            var TS_Waiter = document.getElementById("TS_Waiter").value;
            var TO_Bar_Rate = document.getElementById("TO_Bar_Rate").value; 

            var TO_Busser_Rate = document.getElementById("TO_Busser_Rate").value; 

            var TO_Bar = parseFloat(TS_Waiter)*parseFloat(TO_Bar_Rate); 
            console.log(TS_Waiter);
            console.log(Number(TS_Waiter));
            console.log(TO_Bar);
            
            document.getElementById("TO_Bar").innerHTML = TO_Bar;

            //waiter tip out for busser 

            var TO_Busser = parseFloat(TS_Waiter)*parseFloat(TO_Busser_Rate); 
            console.log(TO_Busser); 

            document.getElementById("TO_Busser").innerHTML = TO_Busser;

             //Server Total Tip Out 

            var Server_Total_Tipout = TO_Bar + TO_Busser; 
            document.getElementById("server_total").innerHTML = Server_Total_Tipout;

            CC_Tips = document.getElementById("CC_Tips").value;
            CC_Refund = document.getElementById("CC_Refund").value;
            // var Server_Total_Tipout = document.getElementById("Server_Total_Tipout").value;
            Cash_Auto_Grat = document.getElementById("Cash_Auto_Grat").value;

            Declared_Tips = parseFloat(CC_Tips)-Server_Total_Tipout-Math.round(parseFloat(CC_Refund)*parseFloat(CC_Tips))+parseFloat(Cash_Auto_Grat);
            document.getElementById("declared_tips").innerHTML = Declared_Tips;
        

        });


            //Declared Tips 

            function declared_tips(){
                var CC_Tips = document.getElementById("CC_Tips").value;
                var Server_Total_Tipout = document.getElementById("Server_Total_Tipout").value;
                var Cash_Auto_Grat = document.getElementById("Cash_Auto_Grat").value;



            }

           
    

    </script>



</body>
</html> 