* {
    box-sizing: border-box; 
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
  }
  #main {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  #main > .employee {
    flex: 1;
    text-align: center;
    margin-left: -200px;
  }

  .employee .title{
      margin-top: 5vw;
      margin-bottom: 5vw;
  }



  #main > .sidebar, 

  #main > .sidebar {
    order: -1;
  }

  @media screen and (min-width: 576px) {
    #main {
      flex-direction: row;
    }
    #main > .sidebar, 
    #main > aside {
      flex: 0 0 15vw;
    }  
    .employee{
        text-align: center;
    }
  }

  .sidebar{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    width: 200px;
}
.sidebar img{
    width: 100%;
}   
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    margin-top: 30px; 
    text-decoration: none;
    
  }
  .sidebar a.active {
    background-color: blue;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: lightgray;
    color:black;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      text-align: center;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}

  }
