/*    LUIS STYLE */
body{
  background-color: #f1f6f9;
}

a{
  color: #ffffff;
  text-decoration: none;
}
a:hover{
  color: #ffffff;
}

.col-2{
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  max-width: 250px;
}

.logo{
  text-align: center;
  background-color: #1275bc;
}

img{
  height:100px;
  width: 100%;
}

.sections{
  padding-top: 1vh;
  color: #ffffff;
  height: 100vh;
}

ul.links{
  list-style-type: none;
  font-size: 20px;
  text-align: left;
}
li{
  padding-top: 10px;
  padding-bottom: 10px;
}


.text-center{
  padding-top:10px;
  padding-bottom:10px;
}
.directory{
  background-color: #f1f6f9;
  
}
.search{
  width: 60%;
  max-width: 700px;
}
.search{
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}


.directory{
  margin-right: auto;
  margin-left: auto;
}


.emp{
  padding: 0;
}

.emp-cards{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-primary{
  background-color:  #1275bc;
}

.btn{
  margin-top: 10px;
}

/* Profile Page */

.prof{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.prof-section{
  height: 100vh;
}

.prof-btn{
  margin-left: 10px;
}
